<div class="text-center mt-20">
  <div class="text-center mt-4">
    <h1 class="display-1">403</h1>
    <p class="lead">Access Forbidden.</p>
    <a href="/">
      <i class="fas fa-arrow-left mr-1"></i>
      Return to Dashboard
    </a>
  </div>
  <div class="text-center mt-2">
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> <br />
      <%=message%>
    </div>
  </div>
</div>
